html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    justify-content: center;
    display: flex;
    font-size: 40px;
    background-color: aquamarine;
    gap: 20px;
}

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.string {
    grid-row: 1 / 2;
    justify-self: center;
    font-size: 50px;
    color: crimson;
}

#ttt-image {
    align-self: center;
    height: 100px;
    width: auto;
}

.gameboard {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 700px;
    margin-right: 700px;
    height: 700px;
}

.game-grid {
    align-self: stretch;
    width: 1fr;
    height: 1fr;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.game-grid:hover, #btn:hover {
    background-color: rgb(218, 254, 242);
}

#btn {
    font-size: 40px;
    grid-row: 3 / 4;
    width: fit-content;
    justify-self: center;
    margin-top: 20px;
    padding: 15px;
}